services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    volumes:
    - ./backup:/var/opt/mssql/backup
    environment:
      - SA_PASSWORD=${SA_PASSWORD}
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"     
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P ${SA_PASSWORD} -Q 'SELECT 1' || exit 1"]
      interval: 10s
      retries: 10
      start_period: 10s
      timeout: 3s
  sqlserver.restorebackup:
    image: mcr.microsoft.com/mssql/server:2022-latest
    volumes:
    - ./sql:/sql 
    depends_on:
      sqlserver:
        condition: service_healthy
    command: >
      bash -c '
      head -n 10 /sql/restore.sql;
      ls -l /var/opt/mssql/backup/AdventureWorksLT2022.bak;
      /opt/mssql-tools/bin/sqlcmd -S sqlserver -U sa -P ${SA_PASSWORD} -d master -i /sql/restore.sql -o /sql/restore.txt;
      head -n 10 /sql/restore.txt;
      echo "All done!";
      '